/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* ESERCIZIO 1 */
.ex-1-square:hover{
  background-color: red;
}
.ex-1-square{
  transition:  background-color 2s;
}

/* ESERCIZIO 2 */
.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square{
  transition: 2s;
}
.ex-3-square:hover{
border-radius: 50%;
}

/* ESERCIZIO 4 */


